*{margin:0; padding:0}
body{font:12px "Microsoft YaHei";position:relative;}
ul,li{list-style:none;}
a{text-decoration:none;}			
#data-table{width:990px;margin:50px auto;}
#data-table input[type=checkbox]{position:relative;top:2px;right:5px;}
.hd-info{width:469px;}	
#t-hd{border-top:1px solid #e6e6e6;border-bottom:1px solid #eee; overflow:hidden; padding:20px 15px;font-size: 13px;}			
.hd-check{width:30px;}
.hd-price{width:100px;}
.hd-number{width:120px;}
.hd-amount{width:135px;}
.hd-operate{width:80px;}
#t-hd>div,.hd-check,.bd-check,#t-bd ul li>div,.info-pic,.info-text,.delAllBtn,.ft-check,.ft-selectedGoods{float:left;}			
#t-bd ul li{border-bottom:1px solid #eee; background-color:#fcfcfc; padding:15px 0; overflow:hidden;}			
.bd-check{width:30px; margin-left:15px;}	
.info-pic{width:60px; height:60px; overflow:hidden; margin-right:10px;}
.info-text{width:190px; line-height:22px;}
.info-parameter{width:150px; color:#999; margin-left:30px;}
.bd-price{width:100px; margin-left:30px;}
.bd-number{width:100px;position: relative;}
.bd-number a{float:left; width:20px; height:22px; line-height:22px; background-color:#f0f0f0; border:1px solid #e5e5e5; text-align:center;}
.bd-number input{float:left; width: 30px; height:16px; padding:2px;}
.itemSum{width:120px; margin-left:20px;}
.delBtn{width:80px; margin-left:15px;}		
#t-ft{position:relative;height:50px; line-height:50px; border-bottom:1px solid #e6e6e6;font-size: 13px;}
.ft-check{margin-left:15px;margin-right:20px;}
.hd-check,.ft-check,.info-parameter span,.delAllBtn{display:block;}
a.info-text,a.delBtn, a.delAllBtn{ color:#333;}
.ft-selectedGoods{margin-left:350px;}
.ft-selectedGoods b{padding:0 3px;}
.ft-totalPrice{float:right; line-height:50px; overflow:hidden;}
.ft-totalPrice em{font-size:14px; color: #f40; font-style: normal;}
.ft-totalPrice b{display: inline-block; width: 100px; font-size:20px; padding-right:20px;}
.ft-totalPrice a{float:right;margin-top:10px; width:60px; height:30px;line-height:30px; text-align:center;font-size:16px; border-radius:3px; background:#f40;color:#fff; /*cursor:not-allowed;*/}
.ft-totalPrice a.disable{background-color:#ccc; color:#fff;}
.bd-amount,.ft-selectedGoods b,#t-ft .ft-totalPrice b,a.info-text:hover,a.delBtn:hover,.ft-del a:hover{color:#f40;}
.ft-totalPrice a.disable:hover{background-color:#f40;}	
.tipsBox{display:none;position:absolute;top:-10px;right:110px;width:200px;height:50px;line-height:50px;border-radius:3px;color:#fff;font-size:14px;text-align:center;background:rgba(0,0,0,.5);box-shadow: 0 0 5px rgba(0,0,0,.3);}